[Unit]
Description="Koyun kırpan timer that runs on every hour"
Wants=koyunkirpan.service

[Timer]
Unit=koyunkirpan.service
# Run every hour
OnCalendar=*-*-* *:00:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=multi-user.target
