[Unit]
Description=Koyun kırpan daemon service
Wants=network-online.target local-fs.target koyunkirpan.timer
After=network-online.target local-fs.target

[Service]
Type=exec
ExecStart=/home/koyunkirpan/service/.venv/bin/python /home/koyunkirpan/service/koyunkirpan/main.py $OPTIONS
Environment=PYTHONUNBUFFERED=true
SyslogIdentifier=koyunkirpan
NotifyAccess=all
User=koyunkirpan

[Install]
WantedBy=multi-user.target
