[Unit]
Description="Koyun Otlatan timer"
Wants=koyunotlatan.service

[Timer]
Unit=koyunotlatan.service
# Run every hour
OnCalendar=*-*-* *:00:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=multi-user.target
